.form{
    display: flex;
    flex-direction: column;
    align-items: center; 
    height: 100vh;
    margin-top: 150px;
  }
.add-form {
    display: inline-flex;
    align-content: center; /* To separate left and right containers */
    align-items: center;
    margin-top: 100px;
    padding: 0 20px; /* Add some horizontal padding for better spacing */
  }
.input-container {
    display: flex;
    flex-direction: column;
  }
.custom-input {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    width: 100%;
  }
  
  .custom-label {
    font-size: 14px;
    color: #333;
    margin-bottom: 5px;
  }
  
  .custom-field {
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: #555;
    transition: border-color 1s ease;
    text-align: center;
  }
  
  .custom-field:focus {
    outline: none;
    border-color: #8c8a9d;
    box-shadow: 0 0 0 3px rgba(111, 163, 239, 0.3);
  }

  .button {
    padding: 10px 20px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .button:hover {
    background-color: #45a049;
  }
  
  /* Define the animation keyframes */
  @keyframes buttonClickAnimation {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(0.9);
    }
    100% {
      transform: scale(1);
    }
  }
  
  /* Apply the animation to the button when clicked */
  .button.clicked {
    background-color: #007bff;
    animation: buttonClickAnimation 0.3s ease;
  }

  .radio-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .radio-input {
    display: none;
  }
  
  .radio-indicator {
    margin-left: 10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #ccc;
    background-color: white;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: border-color 0.3s, background-color 0.3s;
  }
  
  .radio-input:checked + .radio-indicator {
    border-color: #4caf50;
    background-color: #4caf50;
  }
  
  .radio-label {
    font-size: 16px;
    color: #333;
    cursor: pointer;
  }
  
  .radio-input:checked + .radio-indicator + .radio-label {
    font-weight: bold;
  }
  
  /* Style the radio indicator when checked */
  .radio-input:checked + .radio-indicator::before {
    content: "✔"; /* Display a checkmark when checked */
    color: white;
    font-size: 14px;
    font-weight: bold;
  }