.modal-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1000;
  }
  
  .modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    width: 30%;
    text-align: left;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 24px;
    color: #777;
  }
  
  /* Modal Header */
  .modal-header {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }
  
  /* Modal Body */
  .modal-body {
    margin-bottom: 20px;
  }
  
  /* Modal Footer (optional) */
  .modal-footer {
    text-align: right;
  }
  
  /* Add Animation for Modal Entry */
  .modal-enter {
    opacity: 0;
    transform: scale(0.8);
    transition: opacity 0.8s, transform 0.8s;
  }
  
  .modal-enter-active {
    opacity: 1;
    transform: scale(1);
  }
  
  .modal-exit {
    opacity: 1;
    transform: scale(1);
    transition: opacity 0.8s, transform 0.8s;
  }
  
  .modal-exit-active {
    opacity: 0;
    transform: scale(0.8);
  }